.homepage {
    section.featured-preview {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        &:after {
            content: '';
            width: 100%;
            height: 125px;
            bottom: 0;
            position: absolute;
            left: 0;
            z-index: 10;
            background: linear-gradient( to top, $netflix_black, transparent);
        }
        #featured-video {
            width: 100%;
            height: auto;
        }
        .featured-preview-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            margin: 50px 0 0 60px;
            position: absolute;
            z-index: 100;
            .featured-preview-buttons {
                button {                    
                    background-color: rgba(0,0,0,0.3);
                    color: white;
                    font-family: 'pier_sansbold';
                    border: none;
                    padding: 10px 20px;
                    border-radius: 2px;
                    span {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                    }
                }
                #play-pause-button {
                    &.play-video {
                        span.play-controls {
                            display: flex;
                        }
                        span.pause-controls {
                            display: none;
                        }
                    }
                    &.pause-video {
                        span.play-controls {
                            display: none;
                        }
                        span.pause-controls {
                            display: flex;
                        }
                    }
                }
            }
            .featured-preview-description {
                font-size: 1.3rem;
                line-height: 2rem;
                color: #fff;
                text-shadow: 0.5rem 0.5rem 1rem black;
                width:40%;
                margin-top: 20px;
            }
        }
        @media all and (max-width:1000px){
            .featured-preview-content {
                align-items: center;
                margin: 65px 0 0 0;
                .featured-preview-description {
                    display: none;
                }
            }
        }
        @media all and (max-width:540px) {
            .featured-preview-content {
                justify-content: flex-start;
                margin-top: 85px;
            }
        }
    }
    main {
        // background-color: yellow;
        position: relative;
        z-index: 100;
        margin-top: -76px;
        padding: 0 60px;
        .list-row-container {
            margin-bottom: 50px;
            h2 {
                font-family: 'pier_sansmedium';
                font-size: 1.3rem;
                margin-bottom: 20px;
            }
            .list-row {
                display: flex;
                justify-content: space-between;
                .list-item {
                    width: calc( (100% / 6 ) - 0.5rem );
                    transition: 0.35s ease-in-out;
                    &:hover {
                        transform: scale(1.75);
                        box-shadow: 0 0 2rem black;
                        z-index: 102;
                    }
                    img.list-item-img {
                        display: block;
                        width: 100%;
                        max-width: 150px;
                        height: auto;
                        user-select: none;
                        cursor: pointer;
                    }
                }
            }
            .list-row.tall-thumbnails {
                .list-item {
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
        @media all and (max-width:1000px) {
            .list-row-container {
                .list-row {
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    .list-item {
                        min-width: 150px;
                        margin: 0 10px 10px 0;
                    }
                }
            }
        }
        @media all and (max-width:876px) {
            padding: 0 20px;
        }
        @media all and (max-width:540px) {
            margin-top: 0;
            .list-row-container {
                .list-row {
                    .list-item {
                        min-width: 150px;
                        flex-grow: 1;
                        img.list-item-img {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}